body {
    background-image: url(./images/background.jpg);
    background-size: 600px 700px;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

header {
    font-family: 'HughIsLife';
    src: url(/fonts/HughisLife.ttf);
}