@font-face {
    font-family: 'HughIsLife';
    src: url(/fonts/HughisLife.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(./images/background.jpg);
    background-size: 600px 700px;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: sans-serif;
}

header {
    font-family: 'HughIsLife', sans-serif;
    font-size: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}

.site-container {
    display: flex;
    flex-direction: column; /* stacks header, content row, and footer vertically */
    min-height: 100vh;
}

/* Visual Wireframe */
.wireframe-box {
    border: 2px dashed #e47d7d;
    display: flex;
    justify-content: center;
    align-items: center;
    color:aliceblue;
}

.header-box {
    background-color: #ffcccc00;
    color: rgb(243, 216, 198);
    height:100px;
}

.footer-box {
    background-color: #ffcccc;
    height: 100px;
    margin-top: auto;
}

/* Middle Row Flex Container */
.main-box {
    display: flex;
    flex-grow: 1;
}

.left-sidebar-box {
    background-color: #ffcccc;
    width: 250px;
}

.right-sidebar-box {
    background-color: #ffcccc;
    width: 250px;
}

.content-box {
    background-color: antiquewhite;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex;
    gap: 15px;
    padding: 50px;
}

.inner-box {
    border: 2px dashed #ffcccc;
    background-color: #ffffff;
    flex-grow: 0;
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 400px;
}

